@charset "utf-8";
body{ _height:100%;}
*body{background-image:url(about:blank);background-attachment:fixed;/*必要，防抖动*/}
*html .popobox{position:absolute;left:expression('0');top:expression(eval(document.documentElement.scrollTop+0))}


/* 弹出层 CSS */
.popobox{ position:fixed; top:0px; width:100%; height:100%; /*background:rgba(0,0,0,.5);*/ z-index:8888; }

.popbg{ background-color:#333; width:100%; height:100%; position:absolute; top:0px; left:0px; filter:alpha(opacity=50);opacity:0.5; z-index:8999;}
.pop{ width:420px; margin:150px auto; border:4px solid #404952; background-color:#fff; position:relative;z-index:9000; }
.pop h2.pop-titline{ background-color:#404952; color:#fff; height:45px; line-height:40px; font-size:18px; font-family:"Microsoft Yahei", simsun; font-weight:normal; padding:0 10px; text-align:center;}
.pop h2.pop-titline span.pop-close{ float:right; width:18px; cursor:pointer; background:url(../images/icon_close.gif) no-repeat center center;}

.pop .pop-mainer{ padding:15px;}

/*登录框*/

.poplogbox{ position:absolute; top:50%; width:100%;}

.poplog{ width:400px; /*height:380px;*/ margin:0 auto; margin-top:-190px; border-radius:6px; background-color:#fff; position:relative;z-index:9000; }
.poplog-titline{ border-bottom:0px solid #EEEEEE; padding:20px 30px; font-size:18px; color:#0964bd; /*font-weight:normal;*/}
.poplog-titline span.poplog-tit{ font-size:18px; padding-right:90px; background:url(../images/login_sign.png) no-repeat right 12px; /*font-weight:normal;*/ display:inline-block; height:30px; line-height:30px;}
.poplog-titline span.poplog-close{ float:right; cursor:pointer; background:url(../images/icon_close.png) no-repeat center center #fff; text-align:center; font-size:25px; color:#999; width:30px; height:30px; line-height:30px; overflow:hidden;}
.poplog-mainer{ padding:0px 40px;}
.poplog-mainer p{ padding:20px 0px;}
.poplog-mainer p a{ display:block; width:220px; height:220px; margin:0px auto; overflow:hidden; background-color:#f1f1f1;}
.poplog-bottom{ border-top:1px solid #eee;}
.poplog-bottom p{ padding:10px; font-size:12px; line-height:20px;}
.poplog-bottom p a{ color:#5a98de;}
.poplog-bottom p a:hover{color:#5a98de; text-decoration:underline;}

.popcell{ position:relative; padding-bottom:20px; height:46px; font-size:14px;}
.popcell label.lb_text{ display:inline-block; color:#999; position:absolute; left:0px; top:0px; display:inline-block; height:46px; line-height:46px; padding-left:11px; display:none;}
.popcell input.ipt_text{ display:inline-block; width:298px; height:24px; line-height:24px; padding:10px; border:1px solid #e4e4e4; background-color:#f8f8f8; float:left; font-size:14px; color:#666;}
.popcell a.popgetyzm{ display:inline-block; margin-left:20px; width:108px; text-align:center; height:44px; line-height:44px; border:1px solid #e4e4e4; background-color:#f8f8f8; color:#999;}
.poptipcell{ padding-bottom:20px; font-size:14px;}
.poptipcell a.popforget{ float:right; display:inline-block; line-height:20px; color:#0964bd;}
.poptipcell a.popforget:hover{ color:#0964bd; text-decoration:underline;}
.poptipcell label.lb_auto{ display:inline-block; line-height:20px; vertical-align:middle; color:#666; cursor:pointer;}
.poptipcell label.lb_auto input{ margin-right:5px; position:relative; top:2px;}
.poplogsub{ padding-bottom:30px;}
.poplogsub a{ display:block; height:45px; line-height:45px; background-color:#ff6600; color:#fff; text-align:center; font-size:16px; border-radius:4px;}


