body{ background-color:#f3f3f3;}

/*新米 表格*/
.c-ff3232{ color:#ff3232;}
.c-0074b1{ color:#0074b1;}
.x-abtn1{ display:inline-block; height:30px; line-height:30px; width:75px; color:#fff; background-color:#ff6600; font-size:14px; text-align:center; overflow:hidden; border-radius:3px;}

.outframe{ width:1198px; margin:0 auto; border-left:1px solid #eee; border-right:1px solid #eee;}

.outframe{ background-color:#fff;}
.outframe .table{ font-size:14px; color:#646567;}
.outframe .table-border{ border-top:1px solid #eee;}
.outframe .table-bg thead th{ background-color:#f9f9f9;}
.outframe .table th{ height:32px; line-height:32px;}
.outframe .table th, .outframe .table td{ padding:8px 0px; border-bottom:1px solid #eee; word-break:break-all;}
.outframe .table-hover tbody tr:hover td,.outframe .table-hover tbody tr:hover th{background-color: #f8f8f8;}
.outframe .table thead th span{display: inline-block; padding-right:17px; background:url("../images/t10.png") no-repeat; cursor:pointer; background-position: right -48px;}
.outframe .table thead th span.f-img-down{background-position: right -106px;}
.outframe .table thead th span.f-img-up {background-position: right 10px;}
.outframe .table a.link{color: #0074b1; text-decoration:none;}
.outframe .table a.link:hover{color: #0074b1; text-decoration:underline;}
.outframe .table a.x-abtn1{ color:#fff;}
.outframe .table a.x-abtn1:hover{color: #fff; text-decoration:none;}
/*拓展相关*/
.outframe .table .yms{ float:left; position:relative; margin-right:8px;}
.outframe .table .yms a.zip{ display:inline-block; width:20px; height:20px; background:url(../images/icon_zip.png) no-repeat;}
.outframe .table .yms .zipyms1{ position:absolute; left:0px; top:20px; padding-top:5px;}
.outframe .table .yms .zipyms1 i{ position:absolute; top:1px; left:5px; display:block; width:10px; height:7px; background:url(../images/icon_j1.png) no-repeat; background-color:#333; overflow:hidden;}
.outframe .table .yms .zipyms2{ width:150px; height:180px; border:3px solid #ff6600; background-color:#fff; /*overflow:auto;*/}
.outframe .table .yms ul{}
.outframe .table .yms ul li{}
.outframe .table .yms ul li a{ display:block; width:120px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0px 15px; height:36px; line-height:36px; color:#ff6600; font-size:14px; font-weight:bold;}
.outframe .table .yms ul li a:hover{ background-color:#f3f3f3;}
.outframe .table .ymtit{ float:left;}